<section id="heroes">
    <!-- this is a loop with handlebars -->
    {{#each avatars}}
        <div class="hero-container">
            <a href="/{{name}}">
                <img src="/images/{{avatar}}" alt="avatar">
            </a>

            <h3 class="hero-name">{{name}}</h3>
        </div>

        
    {{/each}}
</section>