<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>
  <body>
    <header>
      <nav>
        <h1>Marvel Who's Who - A Primer</h1>
        <a href="/">
          <i class="fas fa-home"></i>
        </a>
      </nav>
    </header>    
    <main>
      {{{body}}} <!-- this is like router-view in the Vue.js -->
    </main>
    <img class="marvel-logo" src="/images/marvelstudios.jpg" alt="logo">
    <footer>
      <p>All characters and bio information &copy; Marvel Studios. Used totally without permission... don't tell anyone!</p>
    </footer>
  </body>
</html>
